<section data-ng-controller="AdminController" data-ng-init="refresh()">
	<p>


	<div class="jumbotron">

		<!-- Device management -->

		<p class="text-center">Devices</p>
		<div class="row">
			<table class="table">
			  <thead>
			  	<tr>
				  	<th>Name</th>
				  	<th>Device Id</th>
				  	<th>Action</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<tr class="text-left" ng-repeat="device in devices">
			  		<td>{{device.name}}</td>
			  		<td>{{device.id}}</td>
			  		<td>
			  			<button class="btn btn-primary" ng-click="open(device._id)">
			  			<i class="glyphicon glyphicon-edit"></i>
			  			</button>
			  		</td>
			  		
			  	</tr>

			  	<tr>
			  		<td><input class="form-control" ng-model="name"></td>
			  		<td><input class="form-control" ng-model="id"></td>
			  		<td><button class="btn btn-success" ng-click="addContact()">Add</button></td>
			  	</tr>
			  	
			  </tbody>
			</table>
		</div>

		<!-- Keen IO Forms 

		<p class="text-center">Keen.io</p>
		<div class="row">
	  		<a class="btn btn-primary text-center" href="/#!/keen">Edit Keen</a>
		</div>	

		 end of jumbo -->

	</div>


	<p>
</section>