<section data-ng-controller="AdminController" data-ng-init="refresh()">

	<p>

	<div class="jumbotron" data-ng-hide="isAboveAdmin()">
		<h3>You do not have permission!</h3>
	</div>

	<div class="jumbotron" data-ng-show="isAboveAdmin()">

		<!-- Device management -->

		<p class="text-center">Devices</p>
		<div class="row">
			<table class="table">
			  <thead>
			  	<tr>
				  	<th>Name</th>
				  	<th>Device Id</th>
				  	<th>Action</th>
				  	<th>Demo?</th>
			  	</tr>
			  </thead>
			  <tbody>
			  	<tr class="text-left" data-ng-repeat="device in devices">
			  		<td>{{device.name}}</td>
			  		<td>{{device.id}}</td>
			  		<td>
			  			<button class="btn btn-primary" data-ng-click="open(device._id)">
			  			<i class="glyphicon glyphicon-edit"></i>
			  			</button>
			  		</td>
			  		<td data-ng-hide="authentication.user.roles[0] !== 'super'">
			  			<input type="checkbox" data-ng-change="updateDevice(device._id, $index)" data-ng-model="device.public">
			  		</td>	
			  	</tr>

			  	<tr data-ng-hide="authentication.user.roles[0] !== 'super'">
			  		<td><input class="form-control" data-ng-model="name" placeholder="DeviceName"></td>
			  		<td><input class="form-control" data-ng-model="id" placeholder="ydfk32lSe43"></td>
			  		<td><button class="btn btn-success" ng-click="addDevice()">Add</button></td>
			  	</tr>
			  	
			  </tbody>
			</table>
		</div>

		<!-- Keen IO Forms 

		<p class="text-center">Keen.io</p>
		<div class="row">
	  		<a class="btn btn-primary text-center" href="/#!/keen">Edit Keen</a>
		</div>	

		 end of jumbo -->

	</div>


	<p>
</section>