<section data-ng-init="findOne()">

	<div class="modal-header">
            <h3 class="modal-title text-center">Edit device</h3>
    </div>
	<div class="modal-body">

		<!-- Device management -->

		<h4>Info</h4>

		<div class="row">

			<div class="col-sm-6">
				Name
				<input class="form-control" ng-model="device.name">
			</div>
				
			<div class="col-sm-6">
				Id
				<input class="form-control" ng-model="device.id">
			</div>
			
		</div>

		<!-- Trigger setup -->
		<hr>

		<h4>Trigger Setup</h4>

		<div class="row">


			<div class="col-sm-6">
				Battery
				<input type="number" class="form-control" ng-model="device.notification.entity.battery.value">
			</div>
				
			<div class="col-sm-6">
				Moisture
				<input type="number" class="form-control" ng-model="device.notification.entity.moisture.value">
			</div>

		</div>

		<!-- Subscriptions -->
		<hr>

		<h4>Subscription Setup</h4>

		<div class="row">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
						  	<th>Email</th>
						  	<th>Action</th>
					  	</tr>
					</thead>
				  <tbody>
				  	<tr class="text-left" ng-repeat="contact in device.notification.contacts">
				  		<td>{{contact}}</td>
				  		<td><button class="btn btn-danger" ng-click="removeEmail($index)">Delete</button></td>
				  	</tr>
				  	<tr>
				  		<td><input class="form-control" ng-model="email"></td>
				  		<td><button class="btn btn-primary" ng-click="addEmail()">Add</button></td>
				  	</tr>
				  </tbody>
				</table>
			</div>
		</div>

		

		<!-- Delete device -->
		<hr>

		<h4>Delete Device</h4>

		<div class="row">
			<div class="col-sm-12">
				<button class="btn btn-danger" ng-click="remove()">Delete Device</button> (Be careful, can't be undone!)
			</div>
		</div>

	</div>


	<div class="modal-footer">
		<div class="text-right">
			<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			<button class="btn btn-primary" ng-click="save()">Save</button>
		</div>
	</div>

	
</section>