<section data-ng-controller="DashControllerController" ng-init="read()">

<p>
    <div class="jumbotron">
    <select class="form-control" ng-model="eventCollection" ng-options="i.name for i in eventCollections" ng-change="request(interval)"></select>
    </div>

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-3">

                <just-gage id="moist"
                    title="Moisture (%)"
                    min="0"
                    max="70"
                    value="readings.data.moisture"
                ></just-gage>

            </div>

            <div class="col-md-3">

                <just-gage id="lux"
                    title="Light (lux)"
                    min="0"
                    max="1000"
                    value="readings.data.lux"
                ></just-gage>

            </div>

            <div class="col-md-3">

                <just-gage id="temp"
                    title="Temperature (&deg;C)"
                    min="0"
                    max="40"
                    value="readings.data.temp"
                ></just-gage>

            </div>

            <div class="col-md-3">

                <just-gage id="hum"
                    title="Humidity (%)"
                    min="0"
                    max="100"
                    value="readings.data.humidity"
                ></just-gage>

            </div>
        </div>

    </div>



    <div class="jumbotron">

          <div class="chart-wrapper">

              <div class="chart-stage">
                <div id="qual"></div>

              </div>

          </div>



          <div class="btn-group btn-group-justified" ng-click="request(interval)">
            <label class="btn btn-default" ng-model="interval" btn-radio="1" uncheckable>1 day</label>
            <label class="btn btn-default" ng-model="interval" btn-radio="2" uncheckable>3 days</label>
            <label class="btn btn-default" ng-model="interval" btn-radio="3" uncheckable>1 week</label>
            <label class="btn btn-default" ng-model="interval" btn-radio="4" uncheckable>2 weeks</label>
            <label class="btn btn-default" ng-model="interval" btn-radio="5" uncheckable>1 month</label>
            <label class="btn btn-default" ng-model="interval" btn-radio="6" uncheckable>3 months</label>
          </div>

    </div>


</section>