<section data-ng-controller="HomeController">
	<p>
	<div class="jumbotron hero-spacer text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-4 col-sm-6 col-sm-offset-4 col-xs-12">
				<img alt="spiio" class="img-responsive text-center" src="modules/core/img/brand/logo_300x174.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Welcome to the test application of the ChirpNora plant sensor.<br>
				Currently being tested at Aalborg University Copenhagen.
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="#!/dash">Enter</a>


                HVA SAA DER MICK!
			</p>
		</div>
	</div>
	<p>

        <div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="modules/core/img/landing/soil.jpg" alt="">
                    <div class="caption">
                        <h5>Moisture</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="modules/core/img/landing/light.jpg" alt="">
                    <div class="caption">
                        <h5>Light</h5>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="modules/core/img/landing/temp.jpg" alt="">
                    <div class="caption">
                        <h5>Temperature</h5>
               
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="modules/core/img/landing/moist.jpg" alt="">
                    <div class="caption">
                        <h5>Humidity</h5>
                    </div>
                </div>
            </div>

        </div>
	


</section>