@media (min-width: 992px) {
	.nav-users {
		position: fixed;
	}
}

html,
body {
    background:#262626 !important;
   	height: 100% -70px;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto!important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 10 auto -30px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 30px;
}

#footer {
    background-color: #f5f5f5;
}

.remove-account-container {
	display: inline-block;
	position: relative;
}
.btn-remove-account {
	top: 10px;
	right: 10px;
	position: absolute;
}